@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .theme-toggle-btn {
    @apply bg-transparent;
  }

  .theme-toggle-btn[data-active="true"] {
    @apply bg-primary bg-opacity-20;
  }
}

:root {
  ---color: #fff5e0;
  --font-color: #141e46;
  --accent-color: #ff6969;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #141e46;
    --font-color: #fff5e0;
    --accent-color: #ff6969;
  }
}


.work-experience-wrapper::after {
  content: "";
  position: absolute;
  left: 1.5rem;
  border: 1px solid var(--accent-color);
  top: 3rem;
  bottom: 0;
}
