@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: ##fff5e0;
  --font-color: #141e46;
  --accent-color: #ff6969;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #141e46;
    --font-color: #fff5e0;
    --accent-color: #ff6969;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

.work-experience-wrapper::after {
  content: "";
  position: absolute;
  left: 1.5rem;
  border: 1px solid var(--accent-color);
  top: 3rem;
  bottom: 0;
}
